body{
    text-align: center;
    background-color:aquamarine;
}
div{
    margin-top: 15px;
}
.image_section{
    display: flex;
    justify-content: center;
}
.section_style{
    margin-right: 25px;
    margin-left: 25px;
}
img{
    width: 50%;
}